@model Goal.Models.DailySprintViewModels.CreateDailySprintViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DailySprints</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="DailySprints.CurrentState" class="control-label"></label>
                <input asp-for="DailySprints.CurrentState" class="form-control" />
                <span asp-validation-for="DailySprints.CurrentState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailySprints.Notes" class="control-label"></label>
                <input asp-for="DailySprints.Notes" class="form-control" />
                <span asp-validation-for="DailySprints.Notes" class="text-danger"></span>
            </div>
            <input type="hidden" name="SprintGroupId" value="@Model.SprintGroupId" />
            @*<div class="form-group">
            <label asp-for="SprintGroupId" class="control-label"></label>
            <select asp-for="SprintGroupId" class ="form-control" asp-items="ViewBag.SprintGroupId"></select>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
