@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="wrapper">
    <div class="page-header" style="background-image: url('/images/kevin-borrill-479871-unsplash.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="card logReg card-register">
                        <h3 class="title">Welcome</h3>

                        <form asp-route-returnurl="@ViewData[" ReturnUrl "]" method="post" class="register-form">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" /> @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-danger btn-block btn-round">Log In</button>
                        </form>
                        <div class="forgot">
                            <p>
                                <a class="btn btn-link btn-danger" asp-action="ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a class="btn btn-link btn-warning" asp-action="Register" asp-route-returnurl="@ViewData[" ReturnUrl "]">Register</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="footer register-footer text-center">
                <h6>
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, made with
                    <i class="fa fa-heart heart"></i> by Jenna Solis
                </h6>
            </div>*@
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
