@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper">
    <div class="page-header" style="background-image: url('/images/jakub-kriz-115652-unsplash.jpg')">
       

        <div class="filter">
            <div class="container">
                <div class="motto text-center">
                    <h1>theGoalmethod</h1>
                    <h3>Start Setting gaols.</h3>
                    <br />
                    <a asp-area="" asp-controller="Goals" asp-action="Index" class="btn btn-outline-neutral btn-round">Start Goals</a>
                </div>
            </div>
        </div>
    </div>
</div>
