
@{
    ViewData["Title"] = "CreateAGoal";
}


<div class="wrapper">
    <div class="page-header" style="background-image: url('/images/diego-ph-412522-unsplash.jpg')">


        <div class="filter">
            <div class="container">
                <div class="motto text-center">
                    <h1>Aloha</h1>
                    <h3>Click the button below to create your first Goal!</h3>
                    <br />
                    <a asp-action="Create" class="btn btn-outline-neutral btn-round">Create Goal</a>
                </div>
            </div>
        </div>
    </div>
</div>


