@model Goal.Models.Goals

@{
    ViewData["Title"] = "Create";
}

<div class="wrapper">
    <div class="page-header" style="background-image: url('/images/annie-spratt-256177-unsplash.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="card logReg card-register">
                        <h3 class="title">Create A Goal</h3>
                        <form class="register-form" asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BeginningState" class="control-label"></label>
                                <input asp-for="BeginningState" class="form-control" />
                                <span asp-validation-for="BeginningState" class="text-danger"></span>
                            </div>

                            <input type="submit" value="Create" class="btn btn-primary btn-block btn-round" />
                        </form>
                        <div class="forgot">
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
