
@{
    ViewData["Title"] = "CreateAGoal";
}

<h2>Create A Goal!</h2>
<h2 class="text-center page_header">It looks like you don't have any Goals yet.</h2>
<p class="text-center page_info goals_info"> Thats ok! Creating a new Goal is really easy.</p>
<p class="text-center page_info goals_info">Click the button below to get started.</p>

<div class="text-center">
    <a class="btn btn-lg btn-default" asp-action="Create">Create a Goal</a>
</div>

