@model Goal.Models.Goals

@{
    ViewData["Title"] = "Edit";
}

<div class="wrapper">
    <div class="page-header topCenter" style="background-image: url('/images/annie-spratt-256177-unsplash.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="card logReg marginTop card-register">
                        <h3 class="title">Edit!</h3>
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="DateCreated" />
                            <input type="hidden" asp-for="Completed" />

                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BeginningState" class="control-label"></label>
                                <input asp-for="BeginningState" class="form-control" />
                                <span asp-validation-for="BeginningState" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                    <label asp-for="DateCreated" class="control-label"></label>
                                    <input asp-for="DateCreated" class="form-control" />
                                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                                        </label>
                                    </div>
                                </div>*@
                            <div class="form-group text-center">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </form>
                        <div class="forgot">
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
